<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add page</title>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<div class="form">
    <form method="post" action="/add" th:object="${addRequest}">
        <h2>Business Expense Tracker- Add Entry</h2>
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="number" step="0.01" name="revenue" placeholder="Revenue" required><!-- comment -->
        </div><!-- comment -->
        <div class="input-box">
            <i class="fa fa-user" aria-hidden="true"></i>

            <input type="number" step="0.01" name="expenses" placeholder="Expenses" required><!-- comment -->
        </div><!-- comment -->
        <div class="input-box">
            <input type="text" name="month" placeholder="Month" required><!-- comment -->
        </div><!-- comment -->
        <div class="input-box">


        <input type="submit" name="addrequest" value="Add"><!-- comment -->
        </div><!-- comment -->

        <a href="/retrieve">Retrieve record by Month</a>
    </form>
</div>
</body>
</html>
